.ForgotPassword {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url('./../../images/bg.jpg');
    background-size: cover;
    color: #495057;
    position: relative;
    background-repeat: no-repeat;

    &::before{
        content: '';
        display: block;
        background-color: rgba(0, 0, 0, 0.37);
        height: 100%;
        width: 100%;
        position: absolute;
    }


    input[type=checkbox] {
        display: none;
    }
    input[type=checkbox] + label{
        display: block;
        cursor: pointer;
    }

    input[type=checkbox] + label:before {
        content: '\2713';
        border: 1px solid #fff;
        border-radius: 2px;
        color: transparent;
        background-color: #fff;
        padding: 0px 3px;
        margin-right: 5px;
        font-size: 9px;
    }
    input[type=checkbox]:checked + label:before { 
        color: #1976d2;
    }

    &__content-link {
        cursor: pointer;
        color: #1890ff;
        &:hover {
            text-decoration: underline !important;
        }
    }

    .ant-btn {
        display: none;
    }
}