// .Home {
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding: 2rem;
//     background-color: #f0f3f5;

//     &__table {
//         width: 100%;
//         border: 1px solid #fff;
//         height: auto;
//         background-color: #fff;
//         border-radius: 5px;
//         box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
//         padding: 3rem;
//     }
// }